body {
  background-color: rgb(29, 29, 29);
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Inter-Regular";
}

.logo{
  height: 200px;
  padding: 20px;
  border-radius: 100%;
}

.nexos {
  color: white;
  font-family: "Inter-regular";
  text-align: center;
  flex-grow: 1;
}

.navbar {
  margin-left: auto;
  margin-right: 100px;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {  
  padding-right: 100px;
}

.navbar a {
  color: white;
  text-decoration: none;
}