* {
  font-family: 'Oswald-Regular';
}

body {
  background-color: rgb(29, 29, 29);
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  height: 200px;
  padding: 10px;
  border-radius: 100%;
}

.music-player {
  color: white;
  text-align: center;
  flex-grow: 1;
}

.navbar {
  margin-left: auto;
  margin-right: 100px;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {  
  padding-right: 100px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.home-text {
  color: white;
  text-align: center;
  flex-grow: 1;
  padding: 100px;
}

.about-text {
  color: white;
  text-align: center;
  flex-grow: 1;
}

.showcase-text {
  color: white;
  text-align: center;
  flex-grow: 1;
  padding: 250px;
}